#contenido
{
    width:30%;
    height: 30%;
    
    color: white;
    border: solid white 1px;
 
    top: 50px;
    left: 50px;
    position: absolute;
    z-index: 10;
}

#cesium
{
    position: relative;
    
}